@font-face {
  font-family: 'Pirata One';
  src: url('./fonts/PirataOne-Gloomhaven.ttf');
}

@font-face {
  font-family: 'Nyala';
  src: url('./fonts/nyala.ttf');
}

@font-face {
  font-family: 'HighTower';
  src: url('./fonts/HTOWERT.TTF');
}

.modal-open .modal {
  -webkit-overflow-scrolling: touch;
}
